DEBUG=1
SECRET_KEY="lsfAEf9875#$%fdsl"
DJANGO_ALLOWED_HOSTS="*"
SQL_ENGINE=django.db.backends.postgresql
SQL_DATABASE=postgres
SQL_USER=postgres
SQL_PASSWORD=sERSlks736SFe
SQL_HOST=143.110.183.73
SQL_PORT=15432
DATABASE=postgres
SENTRY_DSN=https://59e992986a1e4371b9b3176cb66d1f9a@bugs.samagra.io/7
FA_API_KEY=YFpyHxhW0-NoKRwQrXgCU5QIAQq8nBNhE--i5_n3pTU
FA_URL=http://www.auth.samagra.io:9011
GCS_BUCKET_NAME=esamwad-sign
GOOGLE_APPLICATION_CREDENTIALS=/home/app/gcs-creds.json
FCM_KEY=AAAAbc5rs88:APA91bFGQNWa6FYp_SFe91eyVI2Vd8E4STQKWXC0HoGDHLfjmS2B4kecuj5r0IyDRtOdruroX8gWfK-jzDGTSqtQ_0XruUtkeGuRhV6nKbOAM2oU5skSYzda43XBP0lHCuW2Vvfglz7U
LOGSTASH_HOST=68.183.80.137
ES_HOST=68.183.80.13
REDIS_CHANNELS="redis://:super_duper_secret_sass@167.71.232.150:6379/0"
RABBITMQ_USERNAME=testing
RABBITMQ_PASSWORD=bloddy_mary_789
CELERY_BROKER=amqp://testing:bloddy_mary_789@139.59.46.189:5672
FLOWER_BROKER=amqp://testing:bloddy_mary_789@139.59.46.189:5672
FLOWER_BROKER_API=http://testing:bloddy_mary_789@139.59.46.189:15672/api/
CELERY_RESULT_BACKEND=django-db
FLOWER_USERNAME=samagra
FLOWER_PASSWORD=impact@scale
GF_SECURITY_ADMIN_PASSWORD=impact@scale
GF_USERS_ALLOW_SIGN_UP=false
NGINX_PASS=hErdyVuzLreZ6EfR
IS_CACHE_ENABLED=0
CELERY_FOLDER_TO_MONITOR=/home/app
CELERY_CONCURRENCY=2
CELERYBEAT_INTERVAL=300
IS_CACHE_ENABLED=1
SHOULD_CACHE_COMPRESS=1
CACHE=redis://143.110.183.73:6380/1

MINIO_HOST="cdn.samagra.io"
MINIO_ACCESS_KEY="doc-generator"
MINIO_SECRET_KEY="y4GY)z/Q"
MINIO_BUCKET_NAME="doc-generator"
MINIO_APPLICATION_ID=2011a6c9-7fb7-4306-8c6d-c96cb07c7859
MINIO_AUTH_HEADER=YFpyHxhW0-NoKRwQrXgCU5QIAQq8nBNhE--i5_n3pTU
FA_LOGIN_URL=http://auth.samagra.io:9011/api/login
CDN_URL=https://cdn.samagra.io
DOC_GENERATOR=http://68.183.94.187:8000