version: '3'

services:

  {{ docker_service_name }}:
    image: {{ DOCKER_HUB_IMAGE }}
    environment:
      HASURA_GRAPHQL_METADATA_DATABASE_URL: {{ credentials.HASURA_GRAPHQL_METADATA_DATABASE_URL }}
      HASURA_GRAPHQL_DATABASE_URL: {{ credentials.HASURA_GRAPHQL_DATABASE_URL }}
      HASURA_GRAPHQL_ENABLE_CONSOLE: "true" # set to "false" to disable console
      HASURA_GRAPHQL_DEV_MODE: "true"
      HASURA_GRAPHQL_ENABLED_LOG_TYPES: startup, http-log, webhook-log, websocket-log, query-log
      HASURA_GRAPHQL_ADMIN_SECRET: {{ credentials.HASURA_GRAPHQL_ADMIN_SECRET }}
    restart: always

    {% if publish_ports == true %}

    ports:
      - {{ host_port }}:{{ docker_port }}

    {% endif %}

    networks:
      application_default:
        aliases:
            - {{ network_alias_name }}

networks:
  application_default:
    external: true
