# Remove sample from the filename and add your environment file variables here
# This file is generally used to refer in docker-compose file

DOCKER_HUB_IMAGE=hasura/graphql-engine:{{ tag }}
HASURA_GRAPHQL_METADATA_DATABASE_URL=postgres://user:password@shortdb:5432/database
HASURA_GRAPHQL_DATABASE_URL=postgres://user:password@shortdb:5432/database
HASURA_GRAPHQL_ADMIN_SECRET=xxxx