version: '3'

services:

  {{ docker_service_name }}:
    image: {{ DOCKER_HUB_IMAGE }}
    environment:
      - RABBITMQ_PASSWORD={{ RABBITMQ_PASSWORD }}
      - RABBITMQ_USERNAME={{ RABBITMQ_USERNAME }}
    volumes:
      - yaus_broker:/bitnami

    {% if publish_ports == true %}

    ports:
      - {{ host_port }}:{{ docker_port }}

    {% endif %}

    networks:
      application_default:
        aliases:
            - {{ network_alias_name }}

networks:
  application_default:
    external: true

volumes:
  yaus_broker: