# Remove sample from the filename and add your environment file variables here
# This file is generally used to refer in docker-compose file

DOCKER_HUB_IMAGE=docker.io/bitnami/rabbitmq:{{ tag }}
RABBITMQ_USERNAME=RABBITMQ_USERNAME
RABBITMQ_PASSWORD=RABBITMQ_PASSWORD