# Remove sample from the filename and add your environment file variables here
# This file is generally used to refer in docker-compose file

POSTGRES_DB=shortdb     # from separately hosted PSQL service
POSTGRES_USER=postgres  # from separately hosted PSQL service
POSTGRES_PASSWORD=yoursupersecret   # from separately hosted PSQL service
REDIS_URI=redis://localhost:6381    # from separately hosted Redis service
REDIS_NAME=db                       # from separately hosted Redis service
GRAPHQL_URI=http://{{ service_yaus_hasura_service }}:{{ service_yaus_hasura_host_port }}/v1/graphql   # yaus-hasura URL
HASURA_ADMIN_SECRET=xxxx    # must be same as ansible_workspace_dir/roles/deploy-yaus-hasura/vars/main.yml::HASURA_GRAPHQL_ADMIN_SECRET
BASE_URL=https://www.yaus.xyz/
RABBITMQ_PASSWORD=password  # must be same as ansible_workspace_dir/roles/deploy-yaus-broker/vars/main.yml::RABBITMQ_PASSWORD
RABBITMQ_USERNAME=username  # must be same as ansible_workspace_dir/roles/deploy-yaus-broker/vars/main.yml::RABBITMQ_USERNAME
RMQ_URL=amqp://${RABBITMQ_USERNAME}:${RABBITMQ_PASSWORD}@{{ service_yaus_broker }}:{{ service_yaus_broker_docker_port }}
RMQ_QUEUE=clicks
RMQ_QUEUE_DURABLE=false
POSTHOG_API_KEY=test
POSTHOG_API_HOST=https://app.posthog.com/
POSTHOG_DISTINCT_KEY='YAUS Events'
POSTHOG_BATCH_SIZE=20
POSTHOG_FLUSH_INTERVAL=10000
CLICK_BACKUP_CRON='* * 1 * * *'

# This was inserted by `prisma init`:
# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB (Preview).
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

DATABASE_URL="postgresql://postgres:yoursupersecret@localhost:5432/shortdb?schema=public"   # as provided as a separate hosted PSQL URL